{
  "exclude": [
    ".js$"
  ],
  "jsc": {
    "parser": {
      "decorators": true,
      "syntax": "typescript"
    },
    "target": "es5",
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    }
  },
  "module": {
    "type": "amd"
  },
  "sourceMaps": true
}